a.navbar-brand {
    font-family: 'Ruthie', cursive;
    font-weight: bold;
    font-size: 2em;
}
.check {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    cursor:pointer;
}
.check div {
    padding: 10px;
}
.check .type-group {
    background-color: #666;
    color: #eee;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-radius: 10px 0 0 10px ;
    min-width: 100px;
    width: 10%;
}
.check .check-description {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    flex-grow: 2;
}
.check .last-update {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    color: #bbb;
}
.check .status {
    min-width: 100px;
    width: 20%;
    border-radius: 0 10px 10px 0;
}