<html lang="en_GB">
<head>
    {{ template "common_header" . }}
    <link rel="stylesheet" href="/static/css/light.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-5">
    <a class="navbar-brand" href="#"><img class="mr-3" src="/static/img/traffic_light.svg" height="25px"/> Overvåge</a>
</nav>
<main class="container-fluid">
    {{ template "checks" . }}
</main>
</body>
</html>